@{
    ViewData["Title"] = "Confirmación de Email";
}

<flash dismissable="true" /> 

<div class="col-md-4 offset-4">
<h2>@ViewData["Title"]</h2>
    <p>
        Gracias por confirmar el email, ahora puedes iniciar sesión en el sistema.
    </p>
</div>
